#url-rewriting-warning{
    display:none
}

input{
    z-index: 1;
}

.navbar-header {
    padding-left: 5%;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: white;
}

.container{
    position: relative;
}

.identity{
    position: absolute;
    text-align: center;
    width: 200px;
    right: -24%;
    top: 72px;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 8px 15px;
    padding-right: 30px;
    text-align: center;
}
.actions2{
    display: none;
}
div.actions {
    position: absolute;
    left :-25%;
    top: 72px;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 8px 15px;
    padding-right: 30px;
    text-align: left;
}
.menu {
    margin-top: 20px;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20%;
    padding-right: 5px;
    text-align: left;
    color: dodgerblue;
}

.menu2 {
    margin-top: 20px;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20%;
    padding-right: 5px;
    text-align: left;
    color: red;
}



.container-fluid{
    padding-right: 5%;
}

.dropdown{
    margin-left: 20%;

}

.navigation-bar{
    margin-top: 19px;
}

.mywell{
    margin-top: 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 8px 15px;
    text-align: left;

}

.mywell2{
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 8px 15px;
    text-align: left;

}

.myform{
    margin-top: -20px;
}

.heure{
    width: 50%;
}

/** Notices and Errors **/
.message {
    clear: both;
    color: #fff;
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 1em 0;
    padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
    background: #ffcc00;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
    background-image: linear-gradient(top, #ffcc00, #E6B800);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    font-weight: normal;
    line-height: 140%;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    color: #fff;
}

.cb1{
    text-align: center;
}

/** Scaffold View **/
dl {
    line-height: 2em;
    margin: 0em 0em;
    width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
    background: #f4f4f4;
}

dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
    width: 10em;
}
dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}

