<div class="mywell adherants index">
	<legend><?php echo __('Adherants'); ?></legend>
	<table class="table table-bordered" cellpadding="0" cellspacing="0">
	<tr class="info">
			<th><?php echo $this->Paginator->sort('surname', 'Nom'); ?></th>
			<th><?php echo $this->Paginator->sort('name', 'Prénom'); ?></th>
			<th style="width: 15%"><?php echo $this->Paginator->sort('birth', 'Date de Naissance'); ?></th>
			<th><?php echo $this->Paginator->sort('city', 'Ville'); ?></th>
			<th><?php echo $this->Paginator->sort('ligues_id', 'Ligue'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($adherants as $adherant): ?>
	<tr>
		<td><?php echo h($adherant['Adherant']['surname']); ?>&nbsp;</td>
		<td><?php echo h($adherant['Adherant']['name']); ?>&nbsp;</td>
		<td><?php echo h($adherant['Adherant']['birth']); ?>&nbsp;</td>
		<td><?php echo h($adherant['Adherant']['city']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($adherant['Ligues']['name'], array('controller' => 'ligues', 'action' => 'view', $adherant['Ligues']['id'])); ?>
		</td>
		<td class="actions">
			<?php echo $this->Html->link(__('Voir'), array('action' => 'view', $adherant['Adherant']['id'])); ?>
			<?php echo $this->Html->link(__('Editer'), array('action' => 'edit', $adherant['Adherant']['id'])); ?>
			<?php echo $this->Form->postLink(__('Supprimer'), array('action' => 'delete', $adherant['Adherant']['id']), null, __('Are you sure you want to delete # %s?', $adherant['Adherant']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
    <div class="actions">
        <ul>
            <li><?php echo $this->Html->link(__('Ajouter un Adherant'), array('action' => 'add')); ?></li>
            <li><?php echo $this->Html->link(__('Lister les Ligues'), array('controller' => 'ligues', 'action' => 'index')); ?> </li>
            <li><?php echo $this->Html->link(__('Ajouter une Ligue'), array('controller' => 'ligues', 'action' => 'add')); ?> </li>
        </ul>
    </div>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="pager">
	<?php
		echo $this->Paginator->prev('< ' . __('Précédent '), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__(' Suivant') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>

